<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do app</title>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js">

  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Press+Start+2P&family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript">
    function openSlideMenu(){
      document.getElementById("menu").style.width="300px";
      document.getElementById("content").style.marginLeft="300px";
      document.getElementById("burger-icon").style.visibility="hidden";

    }
    function closeSlideMenu(){
      document.getElementById("menu").style.width="0";
      document.getElementById("content").style.marginLeft="0";
      document.getElementById("burger-icon").style.visibility="visible";
    }
  </script>
</head>

<body>
